<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <style>
        .medida{
            display: inline-block;
        }
        #titulo{
            color: blue;
            font-style: oblique;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 29px;
            margin: 0;
        }
    </style>
</head>
<body>
    <p id='titulo'><%= datos.titulo %></p>
    <p class="medida"><%= datos.min %></p>
    <meter value='<%= datos.value %>' min='<%= datos.min %>' max='<%= datos.max %>' ></meter>
    <p class="medida"><%= datos.max %></p>
    
</body>
</html>